body {
  background-color : pink;
}

h1{
  color: green;
  font-size: 42px;
  font-family: Arial, Helvetica, Sans-serif;
}

img{
  width: 350px;
}

p, li {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  border: 1px solid black;
  padding-left: 10px;
  
}
  
  
}

.footer{
  background-color: red;
  color: white;
  
  
}

div{
  border: 1px solid black;
  
}
